<div class="card bg-dark border-success my-3" draggable="true" id="board{{board.id}}">
    <div class="card-header">
        <h4 class="d-inline me-auto">{{ board.title }} - id: {{ board.id }}</h4>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split float-end d-inline"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </button>
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="row">
                <div class="card-header">
                    <h5 class="d-inline me-auto">Your columns:</h5>
                    <a href="#" class="btn btn-brown border-success float-end d-inline new-col" id="newColBtn{{ board.id }}"
{#                       data-bs-toggle="modal" data-bs-target="#exampleModalBoard" #}
                       draggable="false">New column</a>
                </div>
            </div>
            <div class="row flex-nowrap overflow-auto me-0">
                {% set statuses = json.loads(get_statuses().data) %}
                {% set cards = json.loads(get_cards_for_board(board.id).data) %}

                {% for status in statuses %}
                    {% include 'column.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{#<div class="modal fade" id="exampleModalBoard" tabindex="-1" aria-labelledby="exampleModalBoardLabel"#}
{#     aria-hidden="true">#}
{#    <div class="modal-dialog">#}
{#        <div class="modal-content">#}
{#            <div class="modal-header">#}
{#                <h5 class="modal-title" id="exampleModalBoardLabel text-dark">Column Title</h5>#}
{#                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
{#            </div>#}
{#            <div class="modal-body">#}
{#                <form>#}
{#                    <div class="mb-3">#}
{#                        <label for="recipient-name" class="col-form-label text-dark">TITLE:</label>#}
{#                        <input type="text" class="form-control" id="recipient-name">#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}
{#            <div class="modal-footer">#}
{#                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>#}
{#                <a class="btn btn-secondary" id="submit">Add</a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
