<div class="card bg-dark border-success my-3 project-boards" draggable="true" id="board">
    <div class="card-header">
        <h4 class="d-inline me-auto project-board-title" id="board_title"></h4>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split float-end d-inline"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </button>
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="row">
                <div class="card-header">
                    <h5 class="d-inline me-auto">Your columns:</h5>
                    <a href="#" class="btn btn-brown border-success float-end d-inline new-col"
                       id="newCol @board.id@"
                    >New column</a>
                </div>
            </div>
            <div class="row flex-nowrap overflow-auto me-0" id="column-container">
                    {% include 'column.html' %}
            </div>
        </div>
    </div>
</div>

