
<button type="button" class="btn btn-primary d-block w-100 my-3 project-card" data-bs-toggle="modal" data-bs-target="#exampleModal"
        draggable="true" id="card{{ card.id }}">
    <h6 class="d-inline me-auto">{{ card.title }}</h6>
    <span class="badge rounded-pill bg-secondary float-end">{{ card.order }}</span>
    <span class="visually-hidden">unread messages</span>
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel text-dark">Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label text-dark">TITLE:</label>
                        <input type="text" class="form-control" id="recipient-name{{ card.id }}" value="">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label text-dark">Message:</label>
                        <textarea class="form-control" id="message-text{{ card.id }}"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-secondary">Change</button>
            </div>
        </div>
    </div>
</div>
