



<div class="card m-3 d-inline-block flex-nowrap bg-dark text-light border-light" style="width: 20%; min-width: 12rem;"
            draggable="true">
    <div class="card-body">
        <button type="button" class="btn btn-dark d-block w-100 my-3"
                draggable="false" id="column_name">{{ status }}</button>
        <h5 class="card-title"></h5>
        <hr>
        {% for card in cards %}
            {% if card.status_id == status %}
                {% include 'card.html' %}
            {% endif %}
        {% endfor %}
    </div>
</div>


