<div class="d-flex align-items-start position-fixed end-0 top-50 translate-middle-y ui-front" style="z-index: 1050">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button type="button" class="btn btn-brown border-success my-3" id="v-pills-home-tab"
                href="#" role="tab" data-bs-toggle="tooltip" data-bs-placement="left" title="New board"
                aria-controls="v-pills-home" aria-selected="true"
                style="transform: scale(1.3)">
            <img src="/static/icons/plus.svg" style="filter: invert(); transform: scale(1.4);"></button>
        <button type="button" class="btn btn-brown border-success my-3" id="v-pills-profile-tab"
                href="#" role="tab" data-bs-toggle="tooltip" data-bs-placement="left" title="Refresh data"
                aria-controls="v-pills-profile" aria-selected="false"
                style="transform: scale(1.3)">
            <img src="/static/icons/arrow-clockwise.svg" style="filter: invert()"></button>
        <button type="button" class="btn btn-brown border-success my-3" id="v-pills-messages-tab"
                href="#" role="tab" data-bs-toggle="tooltip" data-bs-placement="left" title="Log in"
                aria-controls="v-pills-messages" aria-selected="false"
                style="transform: scale(1.3)">
            <img src="/static/icons/box-arrow-in-right.svg" style="filter: invert(); transform: scale(1.1)"></button>
        <button type="button" class="btn btn-brown border-success my-3" id="v-pills-messages-tab"
                href="#" role="tab" data-bs-toggle="tooltip" data-bs-placement="left" title="Sign in"
                aria-controls="v-pills-messages" aria-selected="false"
                style="transform: scale(1.3)">
            <img src="/static/icons/clipboard.svg" style="filter: invert(); transform: scale(1.1)"></button>
    </div>
</div>