<div class="d-flex align-items-start position-fixed end-0 top-50 translate-middle-y ui-front" style="z-index: 1050">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button type="button" class="btn btn-brown border-success my-3" id="v-pills-home-tab"
                href="#" role="tab" title="New board"
                aria-controls="v-pills-home" aria-selected="true"
                style="transform: scale(1.3)" data-bs-toggle="modal" data-bs-target="#addBoard">
            <img src="/static/icons/plus.svg" style="filter: invert(); transform: scale(1.4);"></button>
        <button type="button" class="btn btn-brown border-success my-3" id="manual-sync"
                href="#" role="tab" data-bs-toggle="tooltip" data-bs-placement="left" title="Refresh data"
                aria-controls="v-pills-profile" aria-selected="false"
                style="transform: scale(1.3)">
            <img src="/static/icons/arrow-clockwise.svg" style="filter: invert()"></button>
        {% if not current_user.is_authenticated %}
            <button type="button" class="btn btn-brown border-success my-3" data-bs-toggle="modal"
                    data-bs-target="#loginModal" title="Log in"
                    style="transform: scale(1.3)">
                <img src="/static/icons/box-arrow-in-right.svg" style="filter: invert(); transform: scale(1.1)">
            </button>
            <button type="button" class="btn btn-brown border-success my-3" data-bs-toggle="modal"
                    data-bs-target="#registerModal" title="Sign in"
                    style="transform: scale(1.3)">
                <img src="/static/icons/clipboard.svg" style="filter: invert(); transform: scale(1.1)"></button>
        {% else %}
            <a type="button" class="btn btn-brown border-success my-3" href="{{ url_for("logout") }}"
               style="transform: scale(1.3)">
                <img src="/static/icons/log-out.svg" style="filter: invert(); width: 16px; height: 16px"></a>
        {% endif %}
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="addBoard" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <form id="new-board-form">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Title:</label>
                        <input type="text" class="form-control" id="recipient-name" name="title" value="New board">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="add-board-btn">Add public</button>
                {% if current_user.is_authenticated %}
                <button type="button" class="btn btn-primary" id="add-priv-board-btn">Add private</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark" id="registerModalLabel">Registration</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for("index") }}" method="POST" id="registrationForm">
                    {{ register_form.csrf_token }}
                    <div class="mb-3">
                        {{ register_form.username.label(class="form-control-label text-dark mb-2") }}
                        {% if register_form.username.errors %}
                            {{ register_form.username(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in register_form.username.errors %}
                                    <span>
                                            {{ error }}
                                        </span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ register_form.username(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {{ register_form.email.label(class="form-control-label text-dark mb-2") }}
                        {% if register_form.email.errors %}
                            {{ register_form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in register_form.email.errors %}
                                    <span>
                                            {{ error }}
                                        </span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ register_form.email(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {{ register_form.password.label(class="form-control-label text-dark mb-2") }}
                        {% if register_form.password.errors %}
                            {{ register_form.password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in register_form.password.errors %}
                                    <span>
                                            {{ error }}
                                        </span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ register_form.password(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {{ register_form.confirm_password.label(class="form-control-label text-dark mb-2") }}
                        {% if register_form.confirm_password.errors %}
                            {{ register_form.confirm_password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in register_form.confirm_password.errors %}
                                    <span>
                                            {{ error }}
                                        </span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ register_form.confirm_password(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        {{ register_form.submit(class="btn btn-secondary") }}
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark" id="loginModalLabel">Login</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for("index") }}" method="POST" id="loginForm">
                    {{ login_form.csrf_token }}
                    <div class="mb-3">
                        {{ login_form.email.label(class="form-control-label text-dark mb-2") }}
                        {% if login_form.email.errors %}
                            {{ login_form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in login_form.email.errors %}
                                    <span>
                                            {{ error }}
                                        </span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ login_form.email(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {{ login_form.password.label(class="form-control-label text-dark mb-2") }}
                        {% if login_form.password.errors %}
                            {{ login_form.password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in login_form.password.errors %}
                                    <span>
                                            {{ error }}
                                        </span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ login_form.password(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-check mb-3">
                        {{ login_form.remember(class="form-check-input") }}
                        {{ login_form.remember.label(class="form-check-label") }}
                    </div>
                    <div class="modal-footer">
                        {{ login_form.submit(class="btn btn-secondary") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>